.container {
    max-width: 10000px; 
     
  }
  
  h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    color: #2765a3;
  }
  
  .mb-3 label {
    font-weight: bold; 
    font-size: 26px;
  }
  
  .mb-3 input {
    padding: 20px; 
    font-size: 24px;
  }
  
  .text-danger {
    font-size: 22px;  
    margin-top: 5px;
  }
  
  .btn-primary {
    width: 100%; 
    padding: 10px;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #491d82; 
    border-color: #3e156f;
    cursor: not-allowed;  
  }
  
  .mt-5 {
    margin-top: 50px; 
  }
  